@import "tailwindcss";
@import 'primeicons/primeicons.css';



.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-zoom {
  position: fixed !important;
  top: 90% !important;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 2000;
  display: flex !important;
  flex-direction: row !important;
  gap: 9px;
  background: white;
  padding: 12px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  border: 2px solid #a2a2a2 !important;
  border-radius: 8px !important;
  justify-content: center;
  display: flex !important;
}

/* estilo de cada botão */
.leaflet-control-zoom a {
  align-items: center;

 


  color: #111827;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.2);

}

/* efeito no hover */
.leaflet-control-zoom a:hover {
  color: black;
  border-color: rgb(36, 36, 36);
  transform: scale(1.3);
}


/* Estilo base da aba */
.custom-tabs .p-tabview-nav li .p-tabview-nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #047857;
  gap: 1rem;
  margin-right: 2rem;

}

/* Aba ativa com fade igual botão */
.custom-tabs .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: #047857;
  border-bottom-width: 3px; /* mais grossa */

  border-image-source: linear-gradient(
    90deg,
    rgba(5, 150, 105, 0.9),
    rgba(16, 185, 129, 1),
    rgba(52, 211, 153, 1)
  );

  border-image-slice: 1;
}

